# __Exercise 1: Please see notebook name above__

# __Exercise 2: Create markdown cell with title of the notebook - code and output below__

# H1 Data Science Tools and Ecosystem

# __Exercise 3: Create a markdown cell for an introduction__

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* List popular Data Science libraries
* Calculating arithmetic expressions
* List popular Data Science tools
* Get hands-on exercise with Jupyter Notebook

# __Exercise 4 - Create a markdown cell to list data science languages__

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

# __Exercise 5 - Create a markdown cell to list data science libraries__

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-learn
3. TensorFlow

# __Exercise 6 - Create a markdown cell with a table of Data Science tools__

| Data Science Tools|
| --- |
| Jupyter Notebooks |
| Weka | 
| RStudio |

# __Exercise 7 - Create a markdown cell introducing arithmetic expression examples__

### Below are a few examples of evaluating arithmetic expressions in Python

# __Exercise 8 - Create a code cell to multiply and add numbers__

In [7]:
#This a simple arithmetic expression to mutiply then add integers#
(3*4)+5

17

# __Exercise 9 - Create a code cell to convert minutes to hours__

In [8]:
# This will convert 200 minutes to hours by diving by 60#
200/6

33.333333333333336

# __Exercise 11 - Create a markdown cell to indicate the Author's name__

## Author
Jatin Negi